<!<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Todos </title>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/lb-services.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>
    <div class="main" ng-app="myTodo" ng-controller ="mainController">
      <h1>Todo List's</h1>
      <div class="addTodo">
        <input ng-model="newTodo" placeholder="Add Todos" class="addText" >
        <button ng-click="pushTodos()">Add</button>
      </div>
      <ul ng-repeat="todo in todos">
           {{todo.text}}
           <span ng-click="deleteTodo($index)"> x </span>
      </ul>
    </div>
  <script src="js/app.js"></script>
  </body>
</html>
